@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-white text-gray-900;
  }

  .dark {
    @apply bg-steampunk-background text-steampunk-text;
  }

  .dark body {
    background-repeat: repeat;
    background-size: 200px;
  }
}

@layer components {
  .gear-animation {
    @apply transition-transform duration-500;
  }

  .dark .gear-animation {
    animation: spin 10s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
